<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>upload2</servlet-name>
        <servlet-class>upload2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload2</servlet-name>
        <url-pattern>/upload2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadSimpForm</servlet-name>
        <servlet-class>uploadSimpForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadSimpForm</servlet-name>
        <url-pattern>/uploadSimpForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
</web-app>